:root{
    --primary-color: #000000;
    --white: rgb(240, 238, 220);
    --light-gray-color: rgb(134, 133, 133);
    --secondary-color:#5e0000;
    --gap: 3rem;
}

.mainBg{
    background-image: url('../img/bg.svg');
    background-size: cover;
    background-position: center center;
    background-size: 40rem;
    color: var(--white);
}
.whiteBg{
    background-color: var(--white);
    color: var(--primary-color);
    width: 100%;
}
.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}
.section{
    min-height: 100vh;
}
.menu{
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-bottom: 0.4rem solid var(--light-gray-color);

}
.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;

}
.menu ul{
    display: flex;
    list-style: none;
}
.menu ul li a{
    display: block;
    padding: 2rem;
    position: relative;
}
.menu ul li a::after{
   content:'';
   position: absolute;
   bottom: 1rem;
   left:50%;
   width: 0;
   height:0.2rem;
   background: var(--secondary-color);
   transition: all 300ms ease-in-out;
}
.menu ul li a:hover::after{
    width:70%;
    left: 20%;
}
div a{
    text-decoration: none;
    color: var(--primary-color);
}
.espaço-menu{
    height: 10rem;
}
.intro-content{
    position: relative;
    top: -9rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}
.intro-text, .intro-img{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.intro-img img{
    display: flex;
    max-width: 100%;
    height: auto;
}
.top3{
    max-width: 90rem;
    display: flex;
    flex-flow: column wrap ;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}
.top3, h2{
    margin-bottom: 8rem;
}
.header-grid{
    margin-bottom:2rem ;
    
}
.grid-content{
    margin-bottom:15rem ;
    
}
.grid{
    min-height: 100vh;
    display: grid;
    flex-flow: column wrap;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}
.grid h3{
    font-size: 4rem;
    position: relative;
    padding: 0 0 2rem 5rem;
}
.grid h3::before{
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -3rem;
    left:-2rem;

}
.gallery-header{
    margin-top: 15rem;
    display: flex;
}
.gallery-img{
    width: 100%;
    max-height: 36rem;
    max-width: 36rem;
    overflow: hidden;
}
.gallery-img, img{
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover{
    transform: translate(-3%, -3%) scale(1.2) rotate(3deg)
}
.contact-form{
    grid-column: span 2;
}

.contact-form,.form-grid {
    border: none;
    display: flex;
    flex-flow: column wrap;
    gap: var(--gap);
    
}
.form-grid legend{
    font-style: italic;
    margin-bottom: 3rem;
    border-bottom: 0.1rem solid var(--white);
}
.form-goup{
    flex: 1 1 100%;
}
.form-group label{
    margin-bottom: 1rem;
    display: block
}
.form-group input, .form-group textarea{
    border: none;
    background-color: var(--white);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 2.5rem;
    outline: none;
   
}
.form-group input:focus,
.form-group textarea:focus{
     box-shadow: 0 0 10px 4px var(--light-gray-color);
}
body .full-width{
    width: 100%;
    flex: 1 1 100%;
}
.form-group button{
    margin-bottom: 3rem;
    padding: 2rem;
    border: 0.5rem solid var(--white);
    background: none;
    color: var(--white);
    font-size: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    font-style: italic;
}
.form-group button:hover{
    background: var(--secondary-color);
    color: var(--primary-color);
    
}
.close-menu{   
    display: none;
}
@media (max-width: 800px){
    .intro-content, .intro-img, .grid, .contact-form{
        grid-template-columns: 1fr;
    }
    .gallery-img{
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }
    .gallery-img img{
        width: 100%;
    }
    .intro-content{
        margin-top: 10rem;
    }
    .menu{
    bottom:0 ;
    text-align: center;
    }
    .menu-content, .menu-content ul{
        flex-direction: column;
        justify-content: center;

    }
    .menu-content{
        height: 100vh;
    }
    .menu{
        display: none;
    }
   
    .close-menu-label::after{
        content:'≡' ;
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background: var(--white);
        color: var(--primary-color);
        font-size: 3.5rem;
        line-height: 2rem ;
        width: 2rem;
        height: 2rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }
    .close-menu:checked~.menu{
        display: block;
    }
    .close-menu:checked~.close-menu-label::after{
        content: '×';
        background: var(--light-gray-color);
        color: var(--white);
    }
    .espaço-menu{
     display: none;
    }
}
